<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <h5 class="card-title"><%= title %></h5>
                    <h6 class="card-subtitle text-muted">Posted by <%= user %> on <%= date %></h6>
                </div>

                <!--FIXME: REMOVE THIS; ONLY FOR CHECKING WHEN RETRIEVING SHIT FROM DB-->
                <!-- <div>
                    <span class="badge badge-pill <%= isavailable ? 'badge-success' : 'badge-danger' %>">
                        <%= isavailable ? 'Available' : 'Not Available' %>
                    </span>
                </div> -->
                
            </div>
        </div>
        <div class="card-body">
            <p class="card-text"><%= content %></p>
        </div>
    </div>
</div>